<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/bootstrap-paginator.min.js"></script>
<script>
    let currentPage = 1;
    let pageSize = 10;
    $(document).ready(function() {
        doSearch();

        function doSearch() {
            $.ajax({
                type:'GET',
                url: "/oauth2/client/list",
                data: {
                },
                beforeSend: function () {
                    $("#loadingModal").modal('show');
                },
                complete: function () {
                    $("#loadingModal").modal('hide');
                },
                success: function(data) {
                    $(".table tbody").empty()
                    $.each(data.data.dataList, function(index,value) {
                        $(".table tbody").append(
                            "<tr>" +
                            "<td><input type=\"checkbox\" class=\"slave-checkbox\" value=\""+value.tableName+"\"></td>" +
                            "<td>"+value.tableName+"</td>" +
                            "<td>"+value.tableComment+"</td>" +
                            "<td>"+value.createTime+"</td>" +
                            "<td>"+value.updateTime+"</td>" +
                            "<td>" +
                            "<button data-json=\""+value.tableName+"\" type=\"button\" class=\"btn btn-primary btn-xs preview\" data-toggle=\"modal\" data-target=\"#myModal\">\n" +
                            "preview code" +
                            "</button>    " +
                            "    <button data-json=\""+value.tableName+"\" type=\"button\" class=\"btn btn-primary btn-xs custom\" data-toggle=\"modal\" data-target=\"#myCustom\">\n" +
                            "custom" +
                            "</button>" +
                            "</td>" +
                            "</tr>");
                    })
                    // setPage(data.data.pager.pageNumber, data.data.pager.pageCount, doSearch);
                },
                error:function(data){
                }
            });
        }
    });

</script>
<body>
<div class="modal fade" id="loadingModal">
    <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
        <div class="progress progress-striped active" style="margin-bottom: 0;">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
        <h5>正在加载...</h5>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">preview code</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#entity" aria-controls="entity" role="tab" data-toggle="tab">entity</a></li>
                    <li role="presentation"><a href="#dao" aria-controls="dao" role="tab" data-toggle="tab">dao</a></li>
                    <li role="presentation"><a href="#service" aria-controls="service" role="tab" data-toggle="tab">service</a></li>
                    <li role="presentation"><a href="#serviceImpl" aria-controls="serviceImpl" role="tab" data-toggle="tab">serviceImpl</a></li>
                    <li role="presentation"><a href="#controller" aria-controls="controller" role="tab" data-toggle="tab">controller</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="entity"></div>
                    <div role="tabpanel" class="tab-pane" id="dao"></div>
                    <div role="tabpanel" class="tab-pane" id="service"></div>
                    <div role="tabpanel" class="tab-pane" id="serviceImpl"></div>
                    <div role="tabpanel" class="tab-pane" id="controller"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myCustom" tabindex="-1" role="dialog" aria-labelledby="myCustomLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myCustomLabel">custom</h4>
            </div>
            <input type="hidden" id="hideTableName" value="">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="functionName">functionName</label>
                        <input type="text" class="form-control" id="functionName" placeholder="functionName">
                    </div>
                    <div class="form-group">
                        <label for="functionAuthor">functionAuthor</label>
                        <input type="text" class="form-control" id="functionAuthor" placeholder="functionAuthor">
                    </div>
                    <div class="form-group">
                        <label for="packageName">packageName</label>
                        <input type="text" class="form-control" id="packageName" placeholder="packageName">
                    </div>
                    <div class="form-group">
                        <label for="className">className</label>
                        <input type="text" class="form-control" id="className" placeholder="className">
                    </div>
                    <div class="form-group">
                        <label for="genPath">genPath</label>
                        <input type="text" class="form-control" id="genPath" placeholder="genPath">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="isDynamic"> isDynamic
                        </label>
                    </div>
                    <div class="Dynamic">
                    </div>
                    <button type="submit" class="btn btn-primary customDownload">download</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="linkdata" tabindex="-1" role="dialog" aria-labelledby="linkdataLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="linkdataLabel">linkdata</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="drivename">drivename</label>
                        <input type="text" class="form-control" id="drivename" placeholder="drivename">
                    </div>
                    <div class="form-group">
                        <label for="url">url</label>
                        <input type="text" class="form-control" id="url" placeholder="url">
                    </div>
                    <div class="form-group">
                        <label for="username">username</label>
                        <input type="text" class="form-control" id="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="text" class="form-control" id="password" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-primary datasourcelink">link</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-default">
        <h3>  NUTZ 代碼生成器  </h3>
    </nav>
    <input style="width: 400px; float: left" type="text" class="form-control tableName" placeholder="tableName" aria-describedby="basic-addon1">
    <button type="button" class="btn btn-primary search"> search </button>
    <button type="button" class="btn btn-primary link"  data-toggle="modal" data-target="#linkdata"> 连接 </button>
    <table class="table">
        <thead>
        <tr>
            <th><input type="checkbox" class="master-checkbox"></th>
            <th>tableName</th>
            <th>tableComment</th>
            <th>createTime</th>
            <th>updateTime</th>
            <th>operate</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <nav aria-label="age navigation">
        <ul class="pager">
            <li><a class="Previous" href="#">Previous</a></li>
            <li><a class="Next" href="#">Next</a></li>
        </ul>
    </nav>
    <!--
    <nav aria-label="Page navigation">
        <ul class="pagination">


        </ul>
    </nav>-->
    <div>
        <label>
            <input type="checkbox" class="isSwagger"> isSwagger
        </label>
    </div>
    <button type="button" class="btn btn-primary download"> download </button>
</div>
</body>
</html>
